*{
    cor-secundaria: #efedb8;
    cor-bordes: lightgray;
    cor-accent: lightblue;
}

.root{
    -fx-background-color: #1d1d1d;
}

.background {
    -fx-background-color: #1d1d1d;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.toggle-button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toggle-button:hover {
    -fx-background-color: #3a3a3a;
}

.toggle-button:selected {
    -fx-background-color: #616161;
}

.text-area {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.radio-button .radio {
    -fx-border-width: 2;
    -fx-border-color: cor-bordes;
    -fx-background-color: white;
    -fx-border-radius: 15;
    -fx-padding: 4;
    -fx-background-insets: 0;
}
.radio-button:focused .radio {
    -fx-border-width: 2;
    -fx-border-color: cor-accent;
}

.radio-button .dot {
    -fx-background-radius: 15;
    -fx-padding: 6;
}

.radio-button{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

/*

    PROPIEDADES DOS COMBOBOX

*/

.combo-box,
.combo-box:editable > .arrow-button {
    -fx-background-color: cor-bordes, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

.combo-box:hover,
.combo-box:editable > .arrow-button:hover {
    -fx-background-color: cor-accent, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:showing,
.combo-box:editable:showing > .arrow-button{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:focused{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box > .arrow-button > .arrow{
    -fx-background-color: cor-bordes;
    -fx-background-insets: 0;
}

.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 4 8 8 4;
}

.combo-box > .arrow-button {
    -fx-background-radius: 0;
    -fx-padding: 6 8 6 10;
    -fx-background-color: transparent;
}

.combo-box:editable > .arrow-button{
    -fx-background-color: cor-bordes, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable > .text-field{
    -fx-background-color: cor-bordes, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused > .text-field,
.combo-box:editable > .text-field:focused {
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused > .arrow-button{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box-popup > .list-view {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background: derive(white, -80%);
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background-color: cor-secundaria;
}
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: derive(cor-secundaria, -30%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: white;
}

/*

    PROPIEDADES DOS TEXTFIELDS

*/
.text-field{
    -fx-background-color: cor-bordes, derive(white, -80%);
    -fx-background-insets: 0, 1.5 1.5 2.5 1.5;
    -fx-background-radius: 0, 0;

    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-prompt-text-fill: derive(white, -20%);
}

.text-field:hover{
    -fx-background-color: cor-accent, derive(white, -80%);
    -fx-background-insets: 0, 1.5 1.5 2.5 1.5;
    -fx-background-radius: 0, 0;
}

.text-field:focused{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 1.5 1.5 2.5 1.5;
    -fx-background-radius: 0, 0;
}

.text-field:readonly{
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2.5 0;
    -fx-background-radius: 0, 0;
}
