*{
    cor-texto: #d8d8d8;
    cor-fondo-botons: #616161;
    cor-secundaria: #efedb8;
}

.background{
    -fx-background-color: #212121;
}

.label{
    -fx-font-size: 10pt;
    -fx-font-family: "Century Schoolbook";
    -fx-text-fill: white;
}

.text-field {
    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 10pt;
}

.button:focused{
    -fx-background-color: derive(cor-fondo-botons, -20%);
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.button:hover{
    -fx-background-color: #424242;
}

.button:pressed{
    -fx-background-color: #424242;
    -fx-text-fill: cor-texto;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

.button{
    -fx-background-color: cor-fondo-botons;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 7 5 7;

    -fx-font-family: "Century Schoolbook";
    -fx-font-size: 9pt;

    -fx-text-fill: cor-texto;
    -fx-border-width: 0;
    -fx-border-insets: 0;

    -fx-cursor: HAND;

}

#labTitulo{
    -fx-font-size: 19pt;
    -fx-background-color: #424242;
}

#labDniErro{
    -fx-text-fill: red;
}

/*Combo-box*/

.combo-box,
.combo-box:editable > .arrow-button {
    -fx-background-color: cor-secundaria, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

.combo-box:hover,
.combo-box:editable > .arrow-button:hover {
    -fx-color: derive(cor-secundaria, -20%);
}

.combo-box:showing,
.combo-box:editable:showing > .arrow-button{
    -fx-color: cor-secundaria;
}

.combo-box:focused{
    -fx-background-color: lightblue, derive(white, -80%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box > .arrow-button > .arrow{
    -fx-background-color: cor-secundaria;
    -fx-background-insets: 0;
}

.combo-box > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 4 8 8 4;
}

.combo-box > .arrow-button {
    -fx-background-radius: 0;
    -fx-padding: 6 8 6 10;
    -fx-background-color: transparent;
}

.combo-box:editable > .arrow-button{
    -fx-background-color: cor-secundaria, 
        linear-gradient(to bottom, derive(white, -70%), derive(white, -80%));
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable > .text-field{
    -fx-background-color: cor-secundaria, 
        linear-gradient(to bottom, derive(white, -70%), derive(white, -80%));
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused{
    -fx-background-color: lightblue, 
        linear-gradient(to bottom, derive(white, -70%), derive(white, -80%));
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused > .text-field,
.combo-box:editable > .text-field:focused {
    -fx-background-color: lightblue, 
        linear-gradient(to bottom, derive(white, -70%), derive(white, -80%));
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box:editable:focused > .arrow-button{
    -fx-background-color: lightblue, 
        linear-gradient(to bottom, derive(white, -70%), derive(white, -80%));
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}

.combo-box-popup > .list-view {
    -fx-background-color:
        linear-gradient(to bottom,
        derive(white,-60%),
        derive(-fx-color,-80%)
        ),
        blue;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: derive(white, -80%);
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: cor-secundaria;
    -fx-background-color: cor-secundaria;
}
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: lightblue;
    -fx-background-color: lightblue;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: white;
}

/*

    PROPIEDADES DOS TEXTFIELDS

*/

.text-field{
    -fx-background-color: cor-secundaria, derive(white, -60%);
    -fx-background-insets: 0, 1 1 2 1;
    -fx-background-radius: 0, 0;

    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-prompt-text-fill: derive(white, -20%);
}

.text-field:hover{
    -fx-background-color: derive(cor-secundaria, -50%), derive(white, -60%);
    -fx-background-insets: 0, 1 1 2 1;
    -fx-background-radius: 0, 0;
}

.text-field:focused{
    -fx-background-color: lightblue, derive(white, -60%);
    -fx-background-insets: 0, 1 1 2 1;
    -fx-background-radius: 0, 0;
}

.text-field:readonly{
    -fx-background-color: red, derive(white, -60%);
    -fx-background-insets: 0, 0 0 2 0;
    -fx-background-radius: 0, 0;
}
