*{
    -cor-secundaria: #efedb8;
    -cor-bordes: lightgray;
    -cor-accent: lightblue;
    -cor-fondo: #1d1d1d;
    -cor-cancelado: #b80c00;
    -cor-encurso: #11ad00;

}

#etqInfoEstadisticasGlobales{
    -fx-text-fill: -cor-accent;
}