*{
    -cor-secundaria: #efedb8;
    -cor-bordes: lightgray;
    -cor-accent: lightblue;
    -cor-fondo: #1d1d1d;
}
#etqTitulo{
    -fx-font-size: 16pt;
    -fx-background-color: black;
}

#etqDatosExtra{
    -fx-background-color: -cor-secundaria;
    -fx-text-fill: #1d1d1d;
}

#vBoxDatosExtra{
    -fx-background-color: derive(white, -90%);
}

#etqFLC {
    -fx-text-fill: #efedb8;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

#boxTitulo{
    -fx-background-color: black;
}

