.botonAC{
    -fx-padding: 5 12 5 12;
}

#labTitulo{
    -fx-background-color: derive(white, -80%);
    -fx-font-size: 16pt;
}

#labSubrayado{
    -fx-background-color: #fff757;
    -fx-background-radius: 8;
}

#labErro{
    -fx-text-fill: red;
}

#btnRegistrar:hover{
    -fx-underline: true;
}

#btnRegistrar:focused{
    -fx-underline: true;
    -fx-border-insets: 0;
}

#btnRegistrar{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: lightblue;
    -fx-padding: 0;
}


