.tab .tab-label{
    -fx-background-color: transparent;
    -fx-text-fill: #d8d8d8;
}

.tab {
    -fx-padding: 5 10 5 10;   
    -fx-background-color: #424242;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;

}

.tab:selected{ 
    -fx-background-color: #1d1d1d;
}

.tab:selected .focus-indicator{
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-background{
    -fx-background-color: #757575;
}

.radio-button{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.check-box{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
}

.tabPrincipal .tab-label{
    -fx-background-color: transparent;
    -fx-text-fill: #d8d8d8;
    -fx-effect: innershadow( three-pass-box , #1d1d1d, 10 , 0 , 0 , 0 );
}

.tabPrincipal { 
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-padding: 5 22 5 22;   
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-effect: innershadow( three-pass-box , #1d1d1d, 10 , 0 , 0 , 0 );
    -fx-rotate: 90;

}

.tabPrincipal:hover {
    -fx-background-color: #3a3a3a;
}

.tabPrincipal:selected {
    -fx-background-color: #424242;
}

.tabPrincipal:pressed, .tabPrincipal:default:hover:pressed {
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}

.tabPrincipal:selected .focus-indicator{
    -fx-focus-color: transparent;
}

.tabPrincipal-pane .tab-header-background{
    -fx-background-color: #757575;
}

.tabPrincipal .tab-header-area{
    -fx-background-insets: 0, 0 0 10;
    -fx-pading: 0, 0, 0, 0;
}

.enfasis{
    -fx-font-size: 13pt;
}

